.jokeGallery{
  width: 900px;
  min-height: 100vh;
  background-color: ghostwhite;
}

.jokeGallery header{
  height: 150px;
  width: 900px;
  background: pink;
  position: fixed;
  font-family: 'Luckiest Guy', cursive;
  font-size: 5rem;
  color: magenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jokesList{
  width: 100%;
  padding: 50px;
  padding-top: 200px;
  display: flex;
  justify-content: center;
  gap:50px;
}

.jokesList h1{
  font-size: 5rem;
  color: magenta;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: .35rem;
}