@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}

html{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: lightyellow;
  background-image: url('../public/ori_3496751_eed33cc658b3b9a02fdb6d0e0302d5a16cec3904_cartoon-smiling-lips-seamless-pattern-laughing-mouth-with-tongue-fun.jpg');
  background-size: 300px;
}